# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyo
*.pyd

# Local configuration
*.sqlite3
*.env

# IDE specific files
.vscode/
.idea/

# Compiled Python files
*.pyc

# Python bytecode
*.pyc

# Python cache
__pycache__/

# Jupyter Notebook
.ipynb_checkpoints/

# PyInstaller
dist/
build/
*.exe
*.spec

# Virtual environment
venv/
env/

# OS-specific files
.DS_Store
Thumbs.db
